a:visited
{
    color: green;
}
a:active
{
    color: blueviolet !important;
}
a:hover
{
    color: chocolate;
}
button:active{
    background-color: green !important;
}
button:hover{
    background-color: violet;
}